<h1>Rental Record for <em>{{name}}</em></h1>
<ul>
{{#movies}}
	<li>{{name}} - {{subTotal}}</li>
{{/movies}}
</ul>
<p>Amount owed is <em>{{amount}}</em></p>
<p>You earned <em>{{points}}</em> frequent renter points</p>